.project
logs/*
logs/tmp
*.log
logs/*
*/node-log.log
/game-server/logs/*
!.gitignore
/web-server/logs/*
!.gitignore
/node_modules/*
/game-server/node_modules/*
/web-server/node_modules/*
/shared/node_modules/*
.project
.settings/
**/*.svn
*.svn
*.sublime-project
*.sublime-workspace
*.swp
.DS_Store
.idea
